body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.primary-bg {
    background-color: #352245;
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
}

.bot-logo {
    height: 400px;
}

.cta{
    text-decoration: none;
    border: solid 1px white;
    color: white;
    padding: 1em;
}

.cta:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
